{% extends 'base.html' %}
{% block content %}
<br>
<h1>Empleados</h1>
 <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Area</th>
          <th>Puesto</th>
          <th>Horario</th>
      </tr>
    </thead>
    <tbody>
      {% for item in empleados  %} 
        <tr>
          <td>{{ item.nombre }}</td>
          <td>{{ item.empleado_area }}</td>
          <td>{{ item.empleado_puesto}}</td>
          <td>{{ item.empleado_turno}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}