{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fabrica</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'dist/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'bower_components/datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Inicio</a>
            </div>
            <!-- /.navbar-header -->


            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>Usuario: {{user.profile.nombre}} : {{user.profile.empleado_puesto}} . <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/login"><i class="fa fa-sign-in fa-fw"></i> Login</a>
                        </li>
                        {% if user.is_authenticated %} 
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                        {%endif%}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            {% if user.is_authenticated %} 
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       {% if user.profile.empleado_puesto == "Almacen" %}
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Almacen<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/almacen/nueva">Generar Orden</a>
                                </li>
                                <li>
                                    <a href="/gerencia/estado_ordenes">Estado de las Ordenes</a>
                                </li>
    
                            </ul>
                        </li>
                        {%endif%}
                        {% if user.profile.empleado_puesto == "Jefe de linea" %}
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Produccion<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/produccion/nuevo">Generar productos</a>
                                </li>
                                <li>
                                    <a href="/gerencia/estado_producto">Estado de los productos</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {%endif%}
                        {% if user.profile.empleado_puesto == "Jefe de calidad" %}
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i> Calidad<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/calidad/ordenes_abiertas">Cerrar Ordenes</a>
                                </li>
                                <li>
                                    <a href="/calidad/jefesdelinea">Ver jefes de linea</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {%endif%}
                        {% if user.profile.empleado_puesto == "Gerencia" %}
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Gerencia<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                 <li>
                                    <a href="#">Reporte de Productos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/gerencia/estado_producto">Estado de los productos</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                         
                                <li>
                                    <a href="#">Reporte de Ordenes <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/gerencia/orden_fecha">Ordenes por dia y semana</a>
                                        </li>
                                        <li>
                                            <a href="/gerencia/estado_ordenes">Estado de las Ordenes</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                          <li>
                                    <a href="#">Reporte de personal <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="/gerencia/empleados">Personal por area</a>
                                        </li>
                                        
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {%endif%}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            {%endif%}
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            
            {% block content %}
               
            {% endblock %}

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

     <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>
    <!-- <script src="{% static 'js/morris-data.js' %}"></script>-->

    <!-- DataTables JavaScript -->
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-responsive/js/dataTables.responsive.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
        $('#dataTables-example2').DataTable({
                responsive: true
        });
        $('#dataTables-example3').DataTable({
                responsive: true
        });
        $('#dataTables-example4').DataTable({
                responsive: true
        });
    });
    </script>

</body>

</html>
